<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clubs</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>

<body>
    <div class="container">
        <nav class="navbar"> <!-- menu -->
            <ul class="list-items">
                <li><img src="CSU_Stanislaus_seal.svg.png" class="logo"></li>
                <li><a href="/index" class="button">Home</a></li>
                <li><a href="/clubs" class="button">Hub</a></li>
                <li><a href="#" class="button">Events</a></li>
                <li><a href="/map" class="button">Map</a></li>
                <li><a href="/posting" class="button">Posting</a></li>
            </ul>
            <ul class="login-item">
                <li><a href="#" class="button">Sign In</a></li>
            </ul>
        </nav>
        <div class="main-content">
            <h1 class="title-text">Explore Clubs on Campus</h1>
            <div class="card-titles"> <!-- clubs section -->
                <div class="row">
                    <div class="club-cards-container">
                        <div class="col-sm">
                            <div class="club-card">
                                <img src="Placeholder_view_vector.svg.png" class="club-img">
                                <p class="club-category">
                                    category
                                </p>
                                <div class="club-name">
                                    club1
                                </div>
                                <p class="club-body">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="club-card">
                                <img src="Placeholder_view_vector.svg.png" class="club-img">
                                <p class="club-category">
                                    category
                                </p>
                                <div class="club-name">
                                    club2
                                </div>
                                <p class="club-body">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="club-card">
                                <img src="Placeholder_view_vector.svg.png" class="club-img">
                                <p class="club-category">
                                    category
                                </p>
                                <div class="club-name">
                                    club3
                                </div>
                                <p class="club-body">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="club-card">
                                <img src="Placeholder_view_vector.svg.png" class="club-img">
                                <p class="club-category">
                                    category
                                </p>
                                <div class="club-name">
                                    club4
                                </div>
                                <p class="club-body">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="club-card">
                                <img src="Placeholder_view_vector.svg.png" class="club-img">
                                <p class="club-category">
                                    category
                                </p>
                                <div class="club-name">
                                    club5
                                </div>
                                <p class="club-body">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="club-card">
                                <img src="Placeholder_view_vector.svg.png" class="club-img">
                                <p class="club-category">
                                    category
                                </p>
                                <div class="club-name">
                                    club6
                                </div>
                                <p class="club-body">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="club-card">
                                <img src="Placeholder_view_vector.svg.png" class="club-img">
                                <p class="club-category">
                                    category
                                </p>
                                <div class="club-name">
                                    club7
                                </div>
                                <p class="club-body">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="club-card">
                                <img src="Placeholder_view_vector.svg.png" class="club-img">
                                <p class="club-category">
                                    category
                                </p>
                                <div class="club-name">
                                    club8
                                </div>
                                <p class="club-body">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="club-card">
                                <img src="Placeholder_view_vector.svg.png" class="club-img">
                                <p class="club-category">
                                    category
                                </p>
                                <div class="club-name">
                                    club9
                                </div>
                                <p class="club-body">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</body>

</html>