/* Abigail */
#root {
  margin: 0 auto;
  }

.logo {
  width: 55px;
  margin-right: 10px;
  }

.column {
  float: left;
  width: 50%
  padding: 5px;
    
  }

.row::after {
  content: "";
  clear: both;
  display: table;
  }

.navbar {
  display: flex;
  background-color: white;
  height: 80px;
  
  }

.main-content {
  background-color: rgb(219, 219, 219);
  margin-bottom: 80px;
  }

.list-items {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  border-radius: 5px;

  }

.button {
  display: inline-block;
  background-color: rgb(238, 238, 238);
  text-decoration: none;
  color: black;
  text-align: center;
  padding: 10px;
  width: 60px;
  height: 30px;

  }

.button:hover {
  background-color: rgb(210, 21, 21);
  color: white;
  }

.list-items li {
  margin-right: 0px;

  }

.login-item {
  display: flex;
  list-style-type: none;
  margin-left: auto;
  }

.title-text {
  margin-bottom: 30px;
  padding: 20px;
  }

.map-img {
    width: 700px
    
  }

.room-img {
  width: 30%;
  cursor: pointer;
  
}

.room-img:hover {
  opacity: 0.7;
}



.search {
    overflow: hidden;
    background-color: #e9e9e9;
  }
  
  /* Style the links inside the navigation bar */
.search a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  
    /* Style the search box inside the navigation bar */
.search input[type=text] {
    float: left;
    padding: 6px;
    border: none;
    margin-bottom: 8px;
    margin-right: 16px;
    font-size: 17px;
  }

    /* size of campus map image*/
.smaller-image {
    width: 50%;
  }

.lightbox {
  background: rgba(0, 0, 0, 0.8);
  display: none;
  position: fixed;
  z-index: 1000;
}
  
.lightbox:target {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  right: 0;
  top: 0;
}
  
.lightbox img {
  border-radius: 1em;
  display: block;
  margin: auto;
  max-height: 80vh;
  max-width: 90vh;
}
  
.lightbox .close {
  color: #fff;
  font-size: 4em;
  font-weight: bold;
  height: 1em;
  position: fixed;
  right: 0;
  top: 0;
  width: 1em;
  z-index: 1001;
}
  
  .lightbox p {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
  }