<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clubs</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<!-- Kimberly Encinas-->

<body>
    <div class="container">
        <nav class="navbar"> <!-- menu -->
            <ul class="list-items">
                <li><img src="{% static 'img/CSU_Stanislaus_seal.svg.png' %}" class="logo"></li>
                <li><a href="/index" class="button">Home</a></li>
                <li><a href="#" class="button">Hub</a></li>
                <li><a href="#" class="button">Events</a></li>
                <li><a href="/map" class="button">Map</a></li>
                <li><a href="/posting" class="button">Posting</a></li>
            </ul>
            <ul class="login-item">
                <li><a href="/profile" class="button">Profile</a></li>
                <li><a href="#" class="button">Sign In</a></li>
            </ul>

        </nav>
        <div class="main-content">
            <h1 class="title-text">Explore Clubs on Campus</h1>
            <div class="card-titles"> <!-- clubs section -->
                <div class="row">
                    <div class="club-cards-container">
                        <div class="col-sm">
                            <div class="club-card">
                                <img src="{% static 'img/accounting.jpeg' %}" class="club-img">
                                <p class="club-category">
                                    Academic, Professional
                                </p>
                                <div class="club-name">
                                    Accounting & Finance Society
                                </div>
                                <p class="club-body">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="club-card">
                                <img src="{% static 'img/alphaxidelta.png' %}" class="club-img">
                                <p class="club-category">
                                    Fraternity/Sorority
                                </p>
                                <div class="club-name">
                                    Alpha Pi Sigma
                                </div>
                                <p class="club-body">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="club-card">
                                <img src="{% static 'img/s2_image_upload_2908346_Facetune_02052023210634jpg_69204344.jpeg' %}"
                                    class="club-img">
                                <p class="club-category">
                                    Fraternity/Sorority
                                </p>
                                <div class="club-name">
                                    Alpha Xi Delta
                                </div>
                                <p class="club-body">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="club-card">
                                <img src="{% static 'img/s2_image_upload_2898530_New_ACC_Logo_2022jpg_523192747.jpeg' %}"
                                    class="club-img">
                                <p class="club-category">
                                    Cultural
                                </p>
                                <div class="club-name">
                                    Asian Connection Club
                                </div>
                                <p class="club-body">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="club-card">
                                <img src="{% static 'img/s2_image_upload_2906529_anthro_club_tableclothjpg_212173619.jpeg' %}"
                                    class="club-img">
                                <p class="club-category">
                                    Academic, Special Interest
                                </p>
                                <div class="club-name">
                                    Anthropology Club
                                </div>
                                <p class="club-body">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="club-card">
                                <img src="{% static 'img/betaalphapsi.jpeg' %}" class="club-img">
                                <p class="club-category">
                                    Honorary
                                </p>
                                <div class="club-name">
                                    Beta Alphi Psi
                                </div>
                                <p class="club-body">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="club-card">
                                <img src="{% static 'img/blackstudentunion.jpeg' %}" class="club-img">
                                <p class="club-category">
                                    Cultural
                                </p>
                                <div class="club-name">
                                    Black Student Union
                                </div>
                                <p class="club-body">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="club-card">
                                <img src="{% static 'img/catholicassociation.png' %}" class="club-img">
                                <p class="club-category">
                                    Religious
                                </p>
                                <div class="club-name">
                                    Catholic Student Association
                                </div>
                                <p class="club-body">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="club-card">
                                <img src="{% static 'img/computerscience.png' %}" class="club-img">
                                <p class="club-category">
                                    Academic
                                </p>
                                <div class="club-name">
                                    Computer Science
                                </div>
                                <p class="club-body">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</body>

</html>