<!DOCTYPE html>
<!-- Abigail -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map</title>
    <link href="static/css/home.css" rel="stylesheet">
    <link href="static/css/map.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <nav class="navbar"> <!-- menu -->
            <ul class="list-items">
                <li><img src= "static/img/CSU_Stanislaus_seal.svg.png" class="logo"></li>
                <li><a href="/" class="button">Home</a></li>
                <li><a href="/clubs" class="button">Hub</a></li>
                <li><a href="#" class="button">Events</a></li>
                <li><a href="/map" class="button">Map</a></li>
                <li><a href="/posting" class="button">Posting</a></li>

            </ul>
            <ul class="login-item">
                <li><a href="/profile" class="button">Profile</a></li>
                <li><a href="/signin" class="button">Sign In</a></li>
            </ul>
            
        </nav>
        <div class="main-content">
            <h1 class="title-text">Campus Map</h1>
            <div class="row">
                <div class= "column">
                <img  src="static/img/map.png" class="map-img">
                </div>

                <div class= "column">
                <!--room image pops up when it is searched-->
                {% if img %}
                <a href = "#room">
                    <img  align = "right" src = "data:image/png;base64, {{img}}" alt="Not Found" class= "room-img" >
                </a>
                
                {% endif %}
                <!--when image is clicked it enlarges the image-->
                <div class="lightbox" id="room">
                    <a href="#" class="close">&times;</a>
                    <div class="content">
                      <img src="data:image/png;base64, {{img}}" />
                    </div>
                </div>
                </div>
            </div>  

            <form action="" method="POST">
            <div class="search"> <!-- search bar -->
                <input type="text" placeholder="Search.." name="roomnumber" value="{{request.form.roomnumber}}">
              </div> 

            </form>
        </div>
        <h2> Buliding Numbers </h2>
        <div class= "row">
            <table width = 30%>
                <thead align = left>
                <th>Number</th>
                <th>Building</th>
                <th>Code</th>
                <th>Number</th>
                <th>Building</th>
                <th>Code</th>
                </thead>
                <tbody>

                <tr>
                <td>1</td><td>Vasche Library</td>
                <td>L</td>

                <td>30</td><td>John Stuart Rogers</td>
                <td>FDC</td>
                </tr>

                <tr>
                <td>2</td>
                <td>Bizinni</td>
                <td>B</td>

                <td>35</td>
                <td>Naraghi</td>
                <td>N</td>
                </tr>

                <tr>
                <td>4</td>
                <td>Corporation Yard</td>
                <td>CY</td>

                <td>37-39a</td>
                <td>Residential Village</td>
                <td>RLV</td>
                </tr>

                <tr>
                <td>5</td>
                <td>Fieldhouse</td>
                <td>F</td>

                <td>41</td>
                <td>Innovative Center</td>
                <td>IC</td>
                </tr>

                <tr>
                <td>6</td>
                <td>Music</td>
                <td>M</td>

                <td>50</td>
                <td>University Student Center</td>
                <td>SC</td>
                </tr>

                <tr>
                <td>6A</td>
                <td>Sinder Recital Hall</td>
                <td>SRH</td>

                <td>53</td>
                <td>Event Center</td>
                <td>EC</td>
                </tr>

                <tr>
                <td>7</td>
                <td>Theatre/Drama</td>
                <td>D</td>

                <td>61</td>
                <td>Student Fitness Center</td>
                <td>SFC</td>
                </tr>

                <tr>
                <td>8</td>
                <td>Art</td>
                <td>A</td>

                <td>105</td>
                <td>Campus Services</td>
                <td>CS</td>
                </tr>

                <tr>
                <td>9</td>
                <td>Science 1</td>
                <td>S</td>

                <td>116</td>
                <td>Student Services</td>
                <td>SS</td>
                </tr>

                <tr>
                <td>10</td>
                <td>Educational Services</td>
                <td>E</td>

                <td>210</td>
                <td>library Annex</td>
                <td>SS</td>
                </tr>

                <tr>
                <td>10A</td>
                <td>Classroom Annex</td>
                <td>CX</td>

                <td>211</td>
                <td>Student Services Annex</td>
                <td>SSX</td>
                </tr>

                <tr>
                <td>11</td>
                <td>Fieldhouse</td>
                <td>FX</td>
                </tr>

                <tr>
                <td>12</td>
                <td>MainDining</td>
                <td>C</td>
                </tr>

                <tr>
                <td>15</td>
                <td>Fitzpatrick Arena</td>
                <td>FA</td>
                </tr>

                <tr>
                <td>21</td>
                <td>Demergasso-Bavo Hall</td>
                <td>DBH</td>
                </tr>

                <tr>
                <td>27</td>
                <td>Mary Stuart Rogers</td>
                <td>MSR</td>
                </tr>

                <tr>
                <td>29</td>
                <td>Health Center</td>
                <td>HC</td>
                </tr>

                </tbody>
                </table>


        </div>

        
    </div>

</body>

</html>