<!DOCTYPE html>
<!-- Abigail -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map</title>
    <link href="static/css/index.css" rel="stylesheet">
    <link href="static/css/map.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <nav class="navbar"> <!-- menu -->
            <ul class="list-items">
                <li><img src= "static/img/CSU_Stanislaus_seal.svg.png" class="logo"></li>
                <li><a href="/" class="button">Home</a></li>
                <li><a href="/clubs" class="button">Hub</a></li>
                <li><a href="#" class="button">Events</a></li>
                <li><a href="/map" class="button">Map</a></li>
                <li><a href="/posting" class="button">Posting</a></li>

            </ul>
            <ul class="login-item">
                <li><a href="/profile" class="button">Profile</a></li>
                <li><a href="/signin" class="button">Sign In</a></li>
            </ul>
            
        </nav>
        <div class="main-content">
            <h1 class="title-text">Campus Map</h1>
            <div class="col-sm">
                <div class="mapimage">
                    {% if mapimage %}
                        <img src="data:image/png;base64,{{ mapimage }}" alt="Campus Map" class="smaller-image">
                    {% else %}
                        <p>No map image available</p>
                    {% endif %}
                </div>
            </div>
            </div>                    

            <form action="" method="POST">
            <div class="search"> <!-- search bar -->
                <input type="text" placeholder="Search.." name="roomnumber" value="{{request.form.roomnumber}}">
              </div>
            <!--room image pops up when it is searched-->
            {% if img %}
            <img src = "data:image/png;base64, {{img['get_image']}}" alt="Not Found" class= "map-img">
            {% endif %}
            </form>
        </div>
    </div>

</body>

</html>