<!DOCTYPE html>
<!--Elvin-->
<html lang="en">
    
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="static/css/profile.css" >
</head> 

<body>
    <div class="container">
        <div class="profile-box">
            <img src="static/img/menu.png" class="menu-icon">
            <img src="static/img/setting.png" class="setting-icon">
            <img src="static/img/blank-profile.png" class="profile-pic">
            <p><strong>{{fullname}}</strong></p>
            <p><strong>Major</strong></p>
            <p><strong>{{bio}}</strong></p>
            
            <div class="social media">
              
            </div>
            <button type="button">Edit</button>
            <!--div class="profile-bottom">
                <p>Learn More</p>
                <img src="static/img/arrow.png"-->
            </div>
        </div>
    </div>


</body>

</html>