<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Search Results for {{ input }} </h1>

        <!-- for loop that goes through the output array and prints them one line per item-->
        {% for i in range(0, len)%}
        
            <ul>{{ output[i] }}</ul>

        {% endfor %}
        
        <script src="" async defer></script>
    </body>
</html>