<!DOCTYPE html>

<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map</title>
    <link href="{% static 'css/index.css'%}" rel="stylesheet">
    <link href="{% static 'css/map.css'%}" rel="stylesheet">
</head>

<body>
    <div class="container">
        <nav class="navbar"> <!-- menu -->
            <ul class="list-items">
                <li><img src= "{% static 'img/CSU_Stanislaus_seal.svg.png' %}" class="logo"></li>
                <li><a href="/index" class="button">Home</a></li>
                <li><a href="/clubs" class="button">Hub</a></li>
                <li><a href="#" class="button">Events</a></li>
                <li><a href="/map" class="button">Map</a></li>
                <li><a href="/posting" class="button">Posting</a></li>

            </ul>
            <ul class="login-item">
                <li><a href="/signin" class="button">Sign In</a></li>
            </ul>
             <!--ul class="profile-item">
                <li><a href="/profile" class="button">Profile</a></li>
            </ul--> <!-- waiting on sign in to finsih -->
        </nav>
        <div class="main-content">
            <h1 class="title-text">Campus Map</h1>
            <div class="col-sm">
                
                <img src="{% static 'img/map.png' %}" class="map-img">
            </div>
            <div class="search">
                <input type="text" placeholder="Search..">
              </div>
        </div>
    </div>

</body>

</html>